In [1]:
import pandas as pd

Step One: Load Data

In [ ]:
## Load the People file just created
people = pd.read_csv("./people.csv")
people.head()

Step Two: Create DateTime

In [7]:
## Need to make created_dt a datetime object 
people["created_dt"] = pd.to_datetime(people["created_dt"])

Step Three: Acquisitions

In [15]:
##create a  acquisition_dates object
acquisition_date = people["created_dt"].dt.date

In [16]:
## Count the Number of constituents acquired on acquisition_date
acquisition_facts = pd.value_counts(acquisition_date).to_frame().reset_index()

In [17]:
# assign columns
acquisition_facts.columns = ["acquisition_date", "acquisitions"]

In [18]:
acquisition_facts.head(10)

  acquisition_date  acquisitions
0       1989-05-03            57
1       1997-03-11            56
2       1976-05-27            55
3       1987-08-29            55
4       2014-09-06            54
5       1997-10-09            54
6       1995-07-07            54
7       1991-07-31            53
8       1988-06-26            53
9       1974-12-15            53

In [14]:
## Save to working directory
acquisition_facts.to_csv("./acquisition_facts", index=False)